:root{ 
  --light-text:#eed;
  --button-background:#443;
  --button-hover:#aa9;
  --background:#fafafa;
  --backgroun-alt:#ddb;
  --text:#484b6a;
}

@font-face {
  font-family: MaterialIcons;
  src: url("../material_design_iconic_font.ttf");
}

main{
  background-color: var(--backgroun-alt);
  margin: auto auto;
  box-shadow: 0 0 14px 2px #BBBAB5;
  min-height: 33rem;
  border-radius: 7px;
  padding: 15px 28px;
  max-width: 800px;
}

body{
  background-color: var(--background-main);
}

.para-header{
  font-size: 26px;
}

.repartitia-populi-background{
  background-image: url(../img/region_eam.png);
  background-size: cover;
}

