* {
  box-sizing: border-box;
}

#intro {
  background-image: url("../brasov/brasov_text.jpg");
  background-position: left;
}

#locatia {
  background-image: url("../brasov/rumania.png");
  height: 70vh;
  background-position: center;
}

#rep-mold {
  background-image: url("../brasov/autoruta-daleco.png");
  height: 70vh;
}

#naturale {
  background-image: url("../brasov/butifull.jpg");
  height: 100vh;
}

#timpa {
  background-image: url("../brasov/timpa.jpg");
  height: 100vh;
}
#timpa-inaltime {
  background-image: url("../brasov/helipoper.jpg");
  height: 50vh;
}

#postavarul {
  background-image: url("../brasov/postavarul.jpg");
  height: 100vh;
}

#stejaris {
  background-image: url("../brasov/Stejerisul_Mare_near_Brasov.jpg");
  height: 100vh;
}

#postavar-sit {
  background-image: url("../brasov/RO_BV_Postavarul_sit.jpg");
  height: 100vh;
}

#poiana {
  background-image: url("../brasov/poiana-brasov-bg.webp");
  height: 100vh;
}

#solomon {
  background-image: url("../brasov/solomon4.jpg");
  height: 100vh;
}

#antropice {
  background-image: url("../brasov/pistraduta.jpg");
  height: 100vh;
}

#biserica-nigger {
  background-image: url("../brasov/biserica-neagra1.jpg");
  height: 100vh;
}

#casa-sfatului {
  background-image: url("../brasov/bigben.jpg");
  height: 100vh;
}

#piata-sfatului {
  background-image: url("../brasov/CasaSfatului.jpg");
  height: 100vh;
}

#amenajari-turistice {
  background-image: url("../brasov/brasovul_vechi.jpg");
  height: 100vh;
}

#fsop {
  background-image: url("../brasov/fsop.webp");
  height: 110vh;
}

#forte {
  background-image: url("../brasov/wall.jpg");
  height: 70vh;
}

#slabe {
  background-image: url("../brasov/picolina.jpg");
  height: 70vh;
}

#oportunitati {
  background-image: url("../brasov/crede_badean_solomon.jpg");
  height: 70vh;
}

#pericole {
  background-image: url("../brasov/ursu.webp");
  height: 100vh;
}

.slaidsow {
  max-width: 1000px;
  margin: 0 auto;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow:hidden;
  position: relative;
}

.slaidsow > img {
  max-width: 800px;
  width: calc(100% - 5em);
}

.slaidsow > button {
  height: 100%;
  width: 1.7em;
  font-size: 5em;
  font-family: "Material Icons";
  src: url("/material_design_iconic_font.ttf");
  border: none;
}

.slaidsow > a {
  text-decoration: none;
  font-weight: 800;
  position: absolute;
  font-family: "Fira Sans";
  font-size: 40px;
  width: 80%;
  padding: 19px;
  padding-left: 35em;
  color: white;
  font-size: 18px;
  /* background-color: #000a; */
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.7));
  bottom: 0;
  right: 10%;
}

.bg {
  height: 100vh;
  background-size: cover;
  background-position: right;
  margin: 0;
}

body {
  margin: 0;
}

.overlay {
  background: #0007;
  width: 100%;
  height: 100%;
}

.overlay > .text {
  color: white;
  text-align: center;
  height: 100%;
  padding: 160px 20px;
}

.text > h1 {
  font-size: 3em;
}

.text > p {
  text-align: center;
  font-size: 1.5rem;
  max-width: 700px;
  margin: 0 auto;
}


.text > ul > li{
  padding: 5px;
}

.text > ul{
  text-align: center;
  font-size: 1.2rem;
  list-style: none;
  max-width: 700px;
  margin: 0 auto;
}

.info {
  max-width: 800px;
  margin: 0 auto;
  padding: 5vh 15px;
  text-align: justify;
  font-size: 18px;
}

#timpa-inaltime > .overlay > .text,
#rep-mold > .overlay > .text,
#locatia > .overlay > .text {
  padding: 5% 20px;
}

